<div class="footer-navbar">
  <a href="#home" class="active">
    <div class="ss-icon">
      {% render 'salon_shack_icons', name: 'all natural' %}
      <p>Home</p>
    </div>
  </a>

  <a href="#news">Shop</a>
  <a href="#contact">Me</a>
  <a href="#contact">Community</a>
  <a href="#contact">Stores</a>
</div>




