<style>
  #template-page-brands h1 {
    margin: 0 auto;
  }

  #template-page-brands .container {
    margin: 2rem 0;
    flex-direction: column;
  }

  #template-page-brands .container li {
    text-transform: capitalize;
  }

  #template-page-brands .container hr {
    background-color: rgba(0,0,0,0.0625);
    height: 1px;
}

  .letter-content {
    display: grid;
    grid-template-columns: 12% 1fr;
  }

  .first-letter {
    grid-column: 1;
  }

  .letter-content ul {
    grid-column: 2;
    -webkit-column-count: 4;
    column-count: 4;
  }

</style>

{% comment %}
  To edit the contents of this file, look inside the `sections` folder for the file name that comes directly after `section`. Eg. {% section 'product__main' %} or {% section 'page__banner' %}
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section default-page">
  <section class="section__wrapper
                  section
                  ">
    <div class="container">
      <h1>All Brands</h1>
      {% assign shop_vendors = shop.vendors %}
      {%- for brand in shop.vendors -%}
        {%- assign first_letter = brand | slice: 0 | downcase -%}
        {%- assign prev_index = forloop.index0 | minus: 1 -%}
        {%- assign prev_letter = shop_vendors[prev_index] | slice: 0 | downcase  -%}
        {%- if forloop.first == true -%}
          <hr>
          <div class="letter-content">
            <h2 class="first-letter">{{ first_letter | upcase }}</h2>
            <ul>
        {%- elsif first_letter != prev_letter -%}
            </ul>
          </div>
          <hr>
          <div class="letter-content">
            <h2 class="first-letter">{{ first_letter | upcase }}</h2>
            <ul>
        {%- endif -%}
        <li>{{ brand | link_to_vendor | downcase }}</li>
        {%- if forloop.last == true -%}
            </ul>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </section>
</main>
